<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <title>Document</title>
</head>

<body>
    
    <main id="main-form">
        <h1>Fomulario</h1>
        <form action="/form/confirmacion" method="post">

            <label for="search">buscar</label>
            <input type="text" name="q" id="search" placeholder="Buscar productos" required>

            <label for="limite">Limite</label>
            <input type="number" name="limit" id="limite">
            <!-- <label for="lastname">Apellido</label>
        <input type="text" name="apellido" id="lastname" >
    
    
        <label for="">Email</label>
        <input type="email" name="email" id="email" >

        <label for="user">Nombre de usuario</label>
        <input type="text" name="username" id="user" required>

        <label for="password">Contraseña</label>
        <input type="password" name="pass" id="password" required >
    
        <label for="nacionalidad">Nacionalidad</label>
        <select name="nacionalidad" id="nacionalidad">
            <optgroup label="América">
                <option value="colombia">Colombia</option>
                <option value="mexico">México</option>
                <option value="uruguay">Uruguay</option>
                <option value="peru">Perú</option>

            </optgroup>

            <optgroup label="Europa">
                <option value="españa">España</option>
                <option value="francia">Francia</option>
                <option value="portugal">Portugal</option>
            </optgroup>
        </select>
    

    
        <label for="dni">DNI</label>
        <input type="file" name="dni" id="dni" accept=".jpg .png .jpeg" >
    

    
    <p>¿Estudiaste programación?</p>
    
        <label for="estudio">
            <input type="radio" name="estudio" id="estudio" value="si">
            Si
        </label>
        <label for="noestudio">
            <input type="radio" name="estudio" id="noestudio" value="no">
            No
        </label>
    

    <p>¿Sobre qué lenguaje de programación conoces?</p>
    
        <label for="js">
            <input type="checkbox" name="language" id="js" value="js">
            JavaScript
        </label>
        <label for="python">
            <input type="checkbox" name="language" id="python" value="python">
            Python
        </label>
        <label for="java">
            <input type="checkbox" name="language" id="java" value="java">
            Java
        </label> -->

            <!-- <input type="submit" value="Enviar"> -->
            <button type="submit">Enviar</button>
        </form>

    </main>
</body>

</html>