<header>
    <h1>
        <%= encabezado %>
    </h1>
    <nav>
        <a href="/">
            <img src="/img/logo-mercado-liebre.svg" alt="logo" width="150">
        </a>

        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#cart">Cart <i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <li>
                <a href="#about">About us</a>
            </li>
        </ul>
    </nav>

    <!-- Buscador -->

    <form action="/" method="get" id="search">
        <label for="search"></label>
        <input type="text" name="q" id="search">
        <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
</header>